.wave-container {  
    height: 90vh;
    background-color: #fafafa;
    position: relative;
    z-index: auto;
  }

  
  .wave-container::before {   
    content: "";
    width: 100%;
    height: 168px;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 81vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  80' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 59L50 55C100 51 200 44 300 30C400 15 500 -6 600 1C700 8 800 44 900 59C1000 73 1100 66 1150 62L1200 59V80H1150C1100 80 1000 80 900 80C800 80 700 80 600 80C500 80 400 80 300 80C200 80 100 80 50 80H0V59Z' fill='%23000000'/></svg>");
}
  
  @media(max-width:850px) {
    .wave-container::before {    
      height: 84px
    }  
  }



#intro {
    margin: 0 auto;
    height: 93vh;
    width: 100vw;
    max-width: 75rem;
    overflow: hidden;
}

.profile {
    margin-top: 10vh;
    position: absolute;
    top: 0rem;
    /* right: 50vh; */
    right: 25vw;
    z-index: 1;
    object-fit: cover;
    height: 85vh; 
}

@media screen and (max-width: 1400px) {
    .profile {
        margin: 0;
        transform: scale(1.1);
    }
    #intro {
        max-width: 60rem;
    }

    #intro > div {
        font-size: 3rem;
    }
    #intro > div > p {
        font-size: 1.2rem;
        margin-top: 1rem;
    }
    .wave-container {
        height: 85vh;
    }
    #intro > div > div.react-reveal.tech {
        margin-top: 5vh;
        max-width: 55vw;
        padding: 0;
        background: none;
    }
    #intro > div > div.react-reveal.tech > p {
        font-size: 1.3rem;
        font-weight: 100;
    }
    #intro > div > div.react-reveal.socials {
        margin: 0;
        margin-top: 4rem;
        justify-content: flex-end;
        max-width: 53rem;
    }
    #intro > div > div.react-reveal.socials > a:nth-child(2) {
        margin: 0;
    }

    img#github {
        width: 40px;
    }

    img#linkedin {
        width: 40px;
    }

    #intro > div > span.react-reveal.hello {
        font-size: 1.25rem;
    }

    img#html, img#css, img#js, img#react, img#tailwind {
        width: 40px;
        height: 40px;
    }
    
    
}

.content {
    height: 100vh;
    width: 100vw;
    max-width: 75rem;
    padding: 2rem;
    font-size: 5rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bolder;
}

.hello {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.75rem;
    font-weight: 100;
    rotate: 345deg;
    width: max-content;
    margin: -10px;
}

.introName {
    color: rgb(28, 153, 188);
}

.introPara {
    font-size: 1.5rem;
    font-weight: 500;
}

.tech {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    max-width: 40vw;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.171);
    padding: 20px;
    align-items: center;
    z-index: 2;
}

.socials {
    display: flex;
    margin-top: 5rem;
    z-index: 2;
    justify-content: flex-start;
    align-items: center;
}

#html {
    width: 50px;
    height: 50px;
    transition: all 0.5s ease-in-out; 
}
#html:hover {
    transform: scale(2.5);
}

#css {
    width: 50px;
    height: 50px;
    transition: all 0.5s ease-in-out; 
}
#css:hover {
    transform: scale(2.5);
}

#js {
    width: 50px;
    height: 50px;
    transition: all 0.5s ease-in-out; 
}
#js:hover {
    transform: scale(2.5);
}

#react {
    width: 50px;
    height: 50px;
    transition: all 0.5s ease-in-out; 
}
#react:hover {
    transform: scale(2.5);
}

#tailwind {
    width: 50px;
    height: 50px;
    transition: all 0.5s ease-in-out;
}
#tailwind:hover {
    transform: scale(2.5);
}

.techPara {
    font-size: 2rem;
    font-weight: 100;
}

#github {
    width: 50px;
    transition: all 0.3s ease-in-out; 
}
#github:hover {
    transform: scale(1.5);
    rotate: 360deg;
}

#linkedin {
    width: 50px;
    margin-left: 1rem;
    transition: all 0.3s ease-in-out; 
}
#linkedin:hover {
    transform: scale(1.5);
    rotate: 360deg;
}


/* TABLET STYLE - 768px */
@media screen and (max-width: 768px) {
    .profile {
        right: -3vw;
    }

    #webDevSpan {
        background-color: #1c99bc;
        color: white;
    }

    .introPara {
        background-color: #393939;
        color: white;
        max-width: 60vw;
    }

    .tech {
        max-width: 95vw;
    }
}


/* MOBILE STYLE - 480px */
@media screen and (max-width: 480px) {
    #webDevSpan {
        background-color: rgba(255, 255, 255, 0);
        color: #393939;
    }

}

