.portfolio {
    height: auto;
    width: 100vw;
    max-width: 55rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 1rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bolder;
}

.portfolioTitle {
    margin: 1rem 0;
    font-size: 3rem;
}

.portfolioDesc {
    font-weight: 200;
    font-size: 1.25rem;
    max-width: 100vh;
    padding: 0 2rem;
    text-align: center;
    line-height: 3rem;
}

/* .portfolioContainer {
    margin-top: 3rem;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 60vw;
    height: auto;
} */

.portfolioContainer {
    display: flex;
    padding: 0 4rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100rem;
}

.portfolioCardNormal {
    flex-direction: row;
    display: flex;
    border: 3px solid;
    margin: 10px;
    width: 37rem;
    justify-content: space-between;
}

.portfolioCardReversed {
    display: flex;
    flex-direction: row-reverse;
    background: #87ceea;
    padding: 20px;
    border-radius: 20px 0;
}

.portfolioImage {
    object-fit: cover;
    height: 28rem;
    margin: 0.5rem;
    border-radius: 20px;
    max-width: 21vw;
}

.portfolioText {
    object-fit: cover;
    height: auto;
    margin: 1rem;
    max-width: 15rem;
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 100;
    word-spacing: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.viewProjectBtn {
    display: flex;
    border-radius: 5px;
    max-width: -moz-fit-content;
    /* max-width: fit-content; */
    text-transform: uppercase;
    width: auto;
    align-self: normal;
    flex-direction: column;
    justify-content: flex-end;
}

.viewCodeBtn {
    display: flex;
    background: #ffff25;
    border-radius: 5px;
    max-width: -moz-fit-content;
    /* max-width: fit-content; */
    align-items: center;
    text-transform: uppercase;
    width: auto;
    align-self: normal;
}

a.codeLink {
    margin: 1rem;
    text-decoration: none;
    color: rgb(0 0 0);
    font-weight: 600;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 2px;
    background-color: #fafafa;
    padding: 7px;
}

a.projectLink {
    margin: 1rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 2px;
    background-color: black;
    padding: 7px;
}

.codeLink {
    margin: 1rem;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.buttons {
    display: flex;
    justify-content: center;
    border-left: 3px solid;
}

#github {
    width: 50px;
}

.githubLink {
    align-self: center;
    color: black;
    font-weight: bold;
    font-family: monospace;
    margin-right: 6px;
}

#externalLink {
    width: 20px;
    align-self: center;
}

#external {
    width: 15px;
    margin-right: 1rem;
}

#code {
    width: 20px;
    margin-right: 1rem;
}

.portfolioHeading {
    padding: 1rem 1rem;
    text-decoration: underline;
    text-underline-offset: 10px;
    width: max-content;
}

.portfolioPara {
    margin-bottom: 1rem;
    padding: 0 1rem;
    line-height: 1.5rem;
    width: 24rem;
}

#technologiesUsed {
    width: 40px;
    height: 40px;
}

.techUsed {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-style: italic;
    width: 107%;
}

@media screen and (max-width: 1920px) {
    #root > div > div:nth-child(4) > section > h2 {
        font-size: 2.5rem;
        margin-top: 7rem;
    }
    #root > div > div:nth-child(4) > section > span {
        font-size: 1.2rem;
        padding: 0;
        line-height: 2rem;
    }
    p.portfolioPara {
        font-size: 1rem;
    }
    .portfolioText {
        margin: 1rem;
    }

    .portfolioContainer {
        width: 71vw;
    }

}


/* TABLET STYLE - 768px */
@media screen and (max-width: 768px) {
    .portfolio {
        height: 200vh;
    }
}